<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>3054624</real>
	<key>iframe_MaxBitRate</key>
	<real>2095234</real>
	<key>iframe_avgBitRate</key>
	<real>1580245</real>
	<key>maxBitRate</key>
	<real>3060919</real>
	<key>videoCodecInfo</key>
	<string>hvc1.1.60000000.L93.B0</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>720</real>
		<key>Width</key>
		<real>1280</real>
	</dict>
</dict>
</plist>
